<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Repository of Cool Names</title>
</head>
<body>
    <h1>Welcome to the Repository of Names!</h1>
    <p>This is a collection of names stored in a database. Below you will find a table with all the stored names:</p>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            <% names.forEach(name => { %>
                <tr>
                    <td><%= name.firstname %></td>
                    <td><%= name.lastname %></td>
                    <td><%= name.fullname %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <p>If you want to add more names, please click <a href="/form">here</a> to go to the input form.</p>
</body>
</html>
